@import "_all-page.scss";
@import "jquery.custom-scrollbar";

#header {

}

#main {
    .block_one {
        background: url(/img/main/main_banner.png) no-repeat 0 0 / 88.5% auto;
        height : 100vh;
        background-position-x: right;
        &:before {
            content : '';
            position: absolute;
            width: $a285;
            height: $a285;
            background : linear-gradient(90deg, #fff 20px, transparent 1%) center, linear-gradient(#fff 20px, transparent 1%) center, rgba(0,0,0,.1);
            background-size : $a22 $a22;
            top : $a125;
            left : 0;
            z-index : -1;
        }
        .container {
            padding-top : $a208;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content : center;
            h1 {
                margin-bottom : $a30;
                .color {
                    color: #4FE5E2;
                }
            }
            p {
                font-family: "GilroyLight";
                font-size: $a24;
                line-height: $a28;
                color: rgba(255, 255, 255, 0.8);
                margin-bottom : $a60;
            }
            .wrapper {
                width : 100%;
                display: flex;
                justify-content : flex-end;
                //.selects_wrapper {
                //    border-radius: 0!important;
                //    position: relative;
                //    &:before {
                //        border-radius: $a18;
                //        content: "";
                //        position: absolute;
                //        left : 0;
                //        bottom : 0;
                //        top : 0;
                //        width : $a30;
                //    }
                //}
            }


        }
    }
    .block_two {
        position : relative;
        padding-bottom: $a250;
        .img_banner {
            position: absolute;
            width: $a768;
            left : $a140;

        }
        .banner_block {
            padding: $a36 $a125 $a50 $a130;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content : center;
            position: absolute;
            width: $a650;
            height: $a234;
            left: $a170;
            top : $a257;
            background: rgba(32, 68, 121, 0.3);
            backdrop-filter: blur(60px);
            transform: matrix(1, 0, 0.35, 1, 0, 0);
            border-radius: $a18;


        }
        .wrapper_text {
            position: absolute;
            z-index : 1;
            top: $a300;
            left: $a280;
            h2 {

            }
            p {
                font-family: 'GilroyRegular';
                font-size: $a18;
                line-height: $a26;
                color: rgba(255, 255, 255, 0.8);
            }
        }
        .container {
            padding-left : $a760;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-flow: row wrap;

        }
    }
    .block_three {
        display: flex;
        align-items: center;
        background: url("/img/main/bg_three.png") no-repeat;
        background-size: 100%;
        height : $a680;
        .container {
            padding: 0 $a70;
            align-items: center;
            display: flex;
            justify-content : space-between;
            .columns {
                &:nth-of-type(1) {
                    .item {
                        right : 0;
                        &:nth-of-type(1), &:nth-of-type(4) {
                            right: -$a20;
                        }
                        @for $i from 1 through 4 {
                            &:nth-of-type(#{$i}) {
                                transform: skewX(#{-20 + ($i - 1) * 12}deg);
                                p {
                                    transform: skewX(#{20 - ($i - 1) * 12}deg);
                                }
                                .bg {
                                    img {
                                        transform: skewX(#{20 - ($i - 1) * 12}deg);
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(3) {
                    .item {
                        left : 0;
                        &:nth-of-type(1), &:nth-of-type(4) {
                            left: -$a20;
                        }
                        @for $i from 1 through 4 {
                            &:nth-of-type(#{$i}) {
                                transform: skewX(#{20 - ($i - 1) * 12}deg);
                                p {
                                    transform: skewX(#{-20 + ($i - 1) * 12}deg);
                                }
                                .bg {
                                    img {
                                        transform: skewX(#{-20 + ($i - 1) * 12}deg);
                                    }
                                }
                            }
                        }
                    }
                }
                .item {
                    padding: $a8 $a16 $a8 $a35;
                    background: rgba(255, 255, 255, 0.15);
                    backdrop-filter: blur($a30);
                    border-radius: $a24;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin : $a32 0;
                    position : relative;
                    p {
                        margin-right: $a10;
                        font-family: 'GilroyBold';
                        font-size: $a18;
                        line-height: $a22;
                        color: #FFFFFF;
                        opacity: 1;
                    }
                    .bg {
                        width: $a86;
                        display: flex;
                        justify-content : center;
                        align-items: center;
                        height: $a66;
                        background: rgba(255, 255, 255, 0.5);
                        backdrop-filter: blur($a100);
                        border-radius: $a16;
                        img {
                            width: $a32;
                        }
                    }
                }
            }
            .center {
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    margin-top : $a16;
                    margin-bottom : $a32;
                    color : #fff;
                }
            }
        }
    }
    @keyframes fadeInRightNew {
        0% {
            left: $a300;
            opacity : 0;
        }
        100% {
            opacity : 1;
        }
    }
    @keyframes fadeInLeftNew {
        0% {
            right: $a300;
            opacity : 0;
        }
        100% {
            opacity : 1;
        }
    }
    .fadeInRightNew {
        animation-name: fadeInRightNew;
    }
    .fadeInLeftNew {
        animation-name: fadeInLeftNew;
    }
    .block_four {
        padding-top : $a144;
        padding-bottom : $a90;
        position : relative;
        &:before {
            content : '';
            position: absolute;
            width: $a247;
            height: $a247;
            background : linear-gradient(90deg, #fff 20px, transparent 1%) center, linear-gradient(#fff 20px, transparent 1%) center, rgba(0,0,0,.1);
            background-size : $a22 $a22;
            top : $a81;
            left : $a112;
            z-index : -1;
        }
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left_block {
                h3 {
                    margin-bottom : $a16;
                }
                p {
                    padding-left : $a30;
                    font-family: 'GilroySemiBold';
                    font-size: $a18;
                    line-height: $a26;
                    color: #161F32;
                    opacity: 0.8;
                }
            }
            .right_block {
                position: relative;
                //z-index : 1;
                display: flex;
                .img_dashed {
                    position: absolute;
                    width: $a470;
                    left : $a92;
                    top : $a15;
                    z-index : 0;
                }
                .item_icon {
                    position: relative;
                    z-index : 1;
                    margin-top : 0;
                    margin-left : $a32;
                }
            }
        }
    }
    .block_five {
        padding-top : $a90;
        padding-bottom : $a230;
        position : relative;
        &:before {
            content : '';
            position: absolute;
            width: $a285;
            height: $a285;
            background : linear-gradient(90deg, #fff 20px, transparent 1%) center, linear-gradient(#fff 20px, transparent 1%) center, rgba(0,0,0,.1);
            background-size : $a22 $a22;
            top : 0;
            right : $a655;
            z-index : -1;
        }
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 $a70;
            &:before {
                content : '';
                position: absolute;
                width: $a545;
                height: $a545;
                left: $a270;
                top: $a40;
                background: #F9F9F9;
                border-radius : 50%;
                z-index : -1;
            }
            &:after {
                position: absolute;
                width: $a157;
                height: $a157;
                left: $a760;
                bottom : $a70;
                content : '';
                background: #F9F9F9;
                border-radius : 50%;
            }
            .left_block {
                .lists {
                    padding-left : $a125;
                    li {
                        font-family: 'GilroyBold';
                        font-size: $a24;
                        margin-bottom : $a32;
                        line-height: $a29;
                        color: #204479;
                        position: relative;
                        padding-left : $a35;
                        &:before {
                            position : absolute;
                            content: '';
                            width : $a24;
                            height : $a24;
                            left : 0;
                            top : $a2;
                            background : url("/img/icons/main/check.svg") no-repeat 0 0 / 100% 100%;
                        }
                    }
                }
            }
            .right_block {
                h3 {
                    margin-bottom : $a24;
                }
                p {
                    padding-left : $a30;
                    font-family: 'GilroyMedium';
                    font-size: $a16;
                    line-height: $a26;
                    color: #161F32;
                    opacity: 0.7;
                    margin-bottom : $a40;
                }
            }
        }
    }
    .block_slider {
        padding-bottom : $a220;
        position : relative;
        &:before {
            content : '';
            position: absolute;
            width: $a285;
            height: $a285;
            background : linear-gradient(90deg, #fff 20px, transparent 1%) center, linear-gradient(#fff 20px, transparent 1%) center, rgba(0,0,0,.1);
            background-size : $a22 $a22;
            top : -$a20;
            left : $a313;
            z-index : -1;
        }
        .container {
            .slider {
                .slide {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content : center;
                    .title {
                        font-size: $a24;
                        line-height: $a29;
                        color: #204479;
                        font-family: 'GilroyBold';
                        opacity: 1;
                        margin-bottom : $a45;
                    }
                    .description {
                        font-family: 'GilroyExtraBold';
                        font-size: $a28;
                        line-height: $a34;
                        color: #161F32;
                        opacity: 1;
                        margin-bottom : $a16;
                    }
                    .name {
                        font-family: 'GilroyMedium';
                        font-size: $a18;
                        line-height: $a21;
                        color: #161F32;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    .block_six {
        padding: $a110 0 $a118;
        background: url("/img/main/background_six.png") no-repeat 0 0 / auto 100%;
        .container {
            h2 {
                margin-bottom : $a16;
                text-align: center;
            }
            p {
                text-align: center;
                margin-bottom : $a40;
                font-family: 'GilroySemiBold';
                font-size: $a18;
                line-height: $a26;
                color: rgba(255, 255, 255, 0.8);
                opacity: 0.8;
            }
        }
    }
}

.popup {
    position: fixed;
    width : 100%;
    height : 100%;
    background : rgba(22, 31, 50, 0.7);
    backdrop-filter: blur(10px);
    z-index : 100;
    top : 0;
    left : 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &.select {
        form {
            &>input {
                &.m2 {
                    display: block;
                }
            }
        }
    }
    form {
        width : $a500;
        background : #fff;
        border-radius: $a24;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding : $a40 $a30;
        position : relative;
        .close {
            content : '';
            position: absolute;
            top : $a15;
            right : $a15;
            width : $a20;
            cursor: pointer;
            filter: invert(1);
        }
        .title {
            font-family : 'GilroySemiBold';
            color : #161F32;
            font-size : $a40;
            opacity : 1;
            margin-bottom : $a40;
        }
        &>input {
            background: rgba(79, 229, 226, 0.2);
            border: 1px solid #4FE5E2;
            box-sizing: border-box;
            box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
            border-radius: $a16;
            width : 100%;
            height : $a60;
            padding-left : $a20;
            margin-bottom : $a15;
            font-size : $a16;
            &.m2 {
                display: none;
            }
        }
        button {
            width : 100%;
            height : $a60;
            background: #4FE5E2;
            box-shadow: 0px 20px 30px -5px rgba(79, 229, 226, 0.5);
            border-radius: $a16;
            font-family : 'GilroySemiBold';
            font-size : $a24;
            border : none;
            color : #204479;
            margin-bottom : $a30;
        }
        label {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .jq-checkbox {
            background: rgba(79, 229, 226, 0.2);
            border: 1px solid #4FE5E2;
            box-sizing: border-box;
            box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            width : $a20;
            height : $a20;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right : $a10;
            .jq-checkbox__div {
                margin: 0;
                width : $a10;
                height : $a5;
            }
        }
    }
}

.wrap_arrow {
    display: none;
}

.read_more {
    display: none;
}

@media screen and (max-width: 1023px) {
    .popup {
        align-items: flex-end;
        form {
            width : calc(100% - #{$m32});
            padding : $m24;
            border-radius : $m24 $m24 0 0;
            .close {
                width : $m15;
                top : $m10;
                right : $m10;
            }
            .title {
                font-size : $m24 !important;
                line-height : inherit !important;
                font-family : 'GilroyBold';
                margin-bottom : $m24;
            }
            &>input {
                font-size : $m14;
                height : $m48;
                width : 100%;
                border-radius : $m16;
                padding-left : $m16;
                margin-bottom : $m8;
            }
            button {
                height : $m48;
                border-radius : $m16;
                font-size : $m16;
            }
            label {
                font-size : $m12;
                margin-top : $m16;
                .jq-checkbox {
                    font-size : $m12;
                    border-radius : $m4;
                    width : $m16;
                    height : $m16;
                    margin-right : $m7;
                    .jq-checkbox__div {
                        width : $m10;
                        height : $m5;
                        margin-bottom : $m2;
                    }
                }
            }
        }
    }
    #main {
        .block_one {
            height: auto !important;
            background: url(/img/main/main_banner.png) no-repeat !important;
            background-position-x: right !important;
            background-size: cover !important;
            .container {
                padding : $m24 0;
                h1 {
                    width : 90%;
                    margin-bottom : $m16 !important;
                }
                p {
                    display: none;
                }
            }
        }
        .block_two {
            padding-bottom : $m70;
            padding-top : $m35;
            picture {
                display: flex;
                justify-content : center;
                .img_banner {
                    position: relative;
                    left: auto;
                    width : 96%;
                }
            }

            .banner_block {
                border-radius: $m20;
                height : $m90;
                padding : 0;
                width : 76%;
                left: $m34;
                top : $m147;
            }
            .wrapper_text {
                top : $m174;
                left : $m90;
                p {
                    display: none;
                }
            }
            .container {
                padding-top : $m30;
                padding-left : 0;
                .slick-dots {
                    bottom: -$m35;
                    li {
                        margin : 0;
                    }
                }
                .item_icon {
                    margin-right : $m12;
                    h4 {
                        margin: $m16 0 $m8;
                    }
                    .icon {
                        border-radius: $m12;
                        padding : $m12;
                        img {
                            height : $m32;
                            width : $m32;
                        }
                    }
                }
            }
        }
        .block_three {
            background: url(/img/main/mob_bg.png) no-repeat;
            background-size: 100%;
            height : $m547;
            .container {
                margin-top : $m20;
                padding : 0;
                flex-flow: row wrap;
                justify-content : center;
                .mob_title {
                    width : 100%;
                    text-align: center;
                    margin-bottom : $m10;
                }
                .center {
                    margin-top : $m8;
                    order: 4;
                }
                .col_l {
                    position: relative;
                    left : -$m16;
                    .item {
                        border-top-right-radius: $m8;
                        border-bottom-right-radius: $m8;
                        border-bottom-left-radius: 0;
                        border-top-left-radius: 0;
                    }

                }
                .col_r {
                    position: relative;
                    right : -$m16;
                    .item {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: $m8;
                        border-top-left-radius: $m8;
                    }
                }
                .columns {
                    width : 50%;

                    .item {
                        margin: $m16 0;
                        padding : $m8;
                        transform: skewX(0deg) !important;
                        right : 0 !important;
                        left : 0 !important;
                        p {
                            transform: skewX(0deg) !important;
                            font-family: "GilroyBold";
                            font-size: $m14;
                            line-height: $m17;
                            width : 60%;
                        }
                        .bg {
                            width : $m40;
                            height : $m40;
                            img {
                                transform: skewX(0deg) !important;
                                width : $m20;
                            }
                        }
                    }
                }
            }
        }
        .text-hide {
            text-align: center !important;
            line-height : $m20 !important;
            padding-left : 0!important;
            font-size : $m14 !important;
            position : relative;
            .more {
                display : none;
            }
            .hide_bg {
                position: absolute;
                bottom : 0;
                height : 70%;
                width : 100%;
                left : 0;
                background : linear-gradient(0deg, #fff, transparent);
            }
        }
        .read_more {
            cursor: pointer;
            border: none;
            background: none;
            outline: none;
            margin-top : $m10;
            text-align: center;
            font-size: $m12;
            position: relative;
            line-height: $m20;
            color: #204479;
            font-family: "GilroySemiBold";
            transition: all 0.5s;
            display: flex;
            align-items: center;
            .more {
                display: none;
            }
            &:after {
                padding-left : $m7 !important;
                content: '';
                background : url("/img/icons/main/arrow_down.svg") no-repeat center center;
                height : $m10;
                width : $m10;
            }
            &.open {
                .read {
                    display: none;
                }
                .more {
                    display: block;
                }
                &:after {
                    padding-right : $m7 !important;
                    transform: rotate(180deg);
                }
            }
        }
        .block_four {
            padding-top : $m53;
            .container {
                flex-direction : column;
                .left_block {
                    display        : flex;
                    flex-direction : column;
                    align-items    : center;
                    h3 {
                        margin-bottom : $m16;
                    }
                }
                .right_block {
                    width : 100vw;
                    background: url('/img/icons/main/dashed.svg') no-repeat left 10% / contain;
                    margin-top : $m24;
                    .slick-dots {
                        bottom : auto;
                        top : calc(100% + #{$m20});
                    }
                    .img_dashed {
                        width : 100%;
                        left  : 0;
                        top   : 0;
                        display: none;
                    }
                    .item_icon {
                        margin-left : 0;
                        padding-left : $m16;
                        width : 75vw;
                        h4 {
                            margin-top    : $m16;
                            margin-bottom : $m8;
                        }
                        .icon {
                            width           : $m56;
                            border-radius   : $m12;
                            height          : $m56;
                            display         : flex;
                            justify-content : center;
                            align-items     : center;
                            img {
                                width  : $m32;
                                height : $m32;
                            }
                        }
                    }
                }
            }
        }
        .block_five {
            padding-top : $m45;
            padding-bottom : $m56;
            .container {
                flex-direction : column;
                padding        : 0 !important;
                .left_block {
                    .mob_title {
                        margin-bottom : $m28;
                    }
                    .lists {
                        padding-left : 0;
                        li {
                            margin-bottom : $m16;
                            font-size: $m16;
                            line-height: $m19;
                            padding-left : $m30;
                            &:before {

                                top : $m3;
                                width : $m12;
                                z-index : 1;
                                height : $m12;
                            }
                            &:after {
                                border-top-right-radius: $m16;
                                border-bottom-right-radius: $m16;
                                width: $m36;
                                height: $m24;
                                background: #4FE5E2;
                                position: absolute;
                                content: "";
                                left : -$m16;
                                top : -2px;
                            }
                        }
                    }
                }
                .right_block {
                    display: flex;
                    flex-direction: column;
                    align-items : flex-start;
                    p {
                        padding-left : 0 !important;
                        font-size : $m16 !important;
                        line-height : $m24 !important;
                        #more_two {
                            display: none;
                        }
                    }
                    .text-hide {
                        text-align : left !important;
                        margin-top : $m32;
                    }
                    .button {
                        margin-right : auto;
                        margin-top : $m24;
                        width : auto !important;
                    }
                }
            }
        }
        .block_slider {
            padding-bottom : $m80;
            .container {
                .slider {
                    .slick-dots {
                        bottom: -$m35;
                        li {
                            margin : 0;
                        }
                    }
                    .slide {
                        .title {
                            margin-bottom : $m16;
                        }
                        .description {
                            margin-bottom : $m16;
                            font-family: "GilroyBold" !important;
                            font-size: $m18 !important;
                            line-height: $m22 !important;
                            color: #161F32 !important;
                            text-align: center !important;
                        }
                        .name {
                            color: #161F32 !important;
                            opacity: 1 !important;
                        }
                    }
                }
            }
        }
        .block_six {
            .container {
                p {
                    margin: $m16 $m10 $m24 !important;
                    text-align: center !important;
                    font-family: 'GilroyRegular' !important;
                    font-size: $m14 !important;
                    line-height: $m20 !important;
                    color: rgba(255, 255, 255, 0.8) !important;

                }
            }
        }
    }
}
